@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "FiraGO";
  src: url("../../public/fonts/FiraGO-Regular.woff2") format("woff2"),
    url("../../public/fonts/FiraGO-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FiraGO";
  src: url("../../public/fonts/FiraGO-Medium.woff2") format("woff2"),
    url("../../public/fonts/FiraGO-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FiraGO";
  src: url("../../public/fonts/FiraGO-Bold.woff2") format("woff2"),
    url("../../public/fonts/FiraGO-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../../public/fonts/HelveticaNeue-Medium.otf") format("opentype"),
    url("../../public/fonts/HelveticaNeue-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "FiraGO", sans-serif;
}

.font2 {
  font-family: "Helvetica Neue", sans-serif;
  /* font-weight: 00; */
}

::-webkit-scrollbar {
  height: 2px; /* Set the height of the horizontal scrollbar */
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #a1a1a1; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Round the thumb for aesthetics */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the scrollbar track */
}

.wrapper {
  max-width: 159.6rem;
  margin-left: auto;
  margin-right: auto;
}

.wrapper2 {
  max-width: 79rem;
  margin-left: auto;
  margin-right: auto;
}

.no-select {
  user-select: none; /* Disable text selection */
}

@supports not (backdrop-filter: blur(4px)) {
  /* Fallback styles here */
  .your-fallback-class {
    /* e.g., color or other styles */
  }
}

.file-input {
  display: none;
}

/* Hide the default radio button */
.custom-radio input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Custom radio label */
.custom-radio-label {
  padding-left: 25px;
  position: relative;
  cursor: pointer;
}

/* Create the custom radio button using ::before */
.custom-radio-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: transparent;
}

/* Create the checked state using ::after */
.custom-radio input[type="radio"]:checked + .custom-radio-label::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translate(-20%, -50%);
  width: 9px;
  height: 9px;
  background-color: black;
  border-radius: 50%;
}

/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.opacity-anime {
  animation: opacityAnime 0.3s ease-in-out;
}
@keyframes opacityAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loader {
  width: 98px;
  height: 98px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #fff #fff transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #ff3d00 #ff3d00;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 62px;
  height: 62px;
  border-color: #fff #fff transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.loader2 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid rgba(0, 0, 0, 0.379);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
