@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 159.6rem;
  margin-left: auto;
  margin-right: auto;
}

.wrapper2 {
  max-width: 79rem;
  margin-left: auto;
  margin-right: auto;
}

.no-select {
  user-select: none; /* Disable text selection */
}

@supports not (backdrop-filter: blur(4px)) {
  /* Fallback styles here */
  .your-fallback-class {
    /* e.g., color or other styles */
  }
}

.file-input {
  display: none;
}

/* Hide the default radio button */
.custom-radio input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Custom radio label */
.custom-radio-label {
  padding-left: 25px;
  position: relative;
  cursor: pointer;
}

/* Create the custom radio button using ::before */
.custom-radio-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: transparent;
}

/* Create the checked state using ::after */
.custom-radio input[type="radio"]:checked + .custom-radio-label::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  background-color: black;
  border-radius: 50%;
}

/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
